{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FoodishD</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700' rel='stylesheet' type='text/css'>
    <link href="{% static 'main/css/index/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'main/css/index/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'main/css/index/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
    <link href="{% static 'main/css/index/flexslider.css' %}" rel="stylesheet">
    <link href="{% static 'main/css/index/templatemo-style.css' %}" rel="stylesheet">

</head>

<body class="tm-gray-bg">
    
    <div class="tm-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-4 col-sm-3 tm-site-name-container">
                    <a href="{% url 'home'%}" class="tm-site-name">FoodishD</a>
                </div>
                <div class="col-lg-6 col-md-8 col-sm-9">
                    <div class="mobile-menu-icon">
                        <i class="fa fa-bars"></i>
                    </div>
                    <nav class="tm-nav">
                        <ul>
                            <li><a href="{% url 'home' %}" class="active">Home</a></li>
                            <li><a href="{% url 'about' %}">About</a></li>
                            <li><a href="{% url 'tour' %}">Our Tours</a></li>
                            <li><a href="{% url 'contact' %}">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    
    <section class="tm-banner">
        
        <div class="flexslider flexslider-banner">
            <ul class="slides">
                <li>
                    <div class="tm-banner-inner">
                        <h1 class="tm-banner-title">Welcome <span class="tm-yellow-text">To</span> FoodishD</h1>
                        <p class="tm-banner-subtitle">Order Eat Enjoy</p>
                        <a href="#more" class="tm-banner-link">Fnd More</a>
                    </div>
                    <img src="{% static 'main/img/index/banner-1.png' %}" alt="Image" />
                </li>
                <li>
                    <div class="tm-banner-inner">
                        <h1 class="tm-banner-title">Find the<span class="tm-yellow-text">Best</span> Restaruant</h1>
                        <p class="tm-banner-subtitle">For enjoying your best Moment </p>
                        <a href="#more" class="tm-banner-link">Find More</a>
                    </div>
                    <img src="{% static 'main/img/index/banner-3.png' %}" alt="Image" />
                </li>
                <li>
                    <div class="tm-banner-inner">
                        <h1 class="tm-banner-title">find the <span class="tm-yellow-text">Best</span> food</h1>
                        <p class="tm-banner-subtitle">babu khaicho</p>
                        <a href="#more" class="tm-banner-link">Find More</a>
                    </div>
                    <img src="{% static 'main/img/index/banner-3.png' %}" alt="Image" />
                </li>
            </ul>
        </div>
    </section>

  
    <section class="container tm-home-section-1" id="more">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="tm-home-box-1 tm-home-box-1-2 tm-home-box-1-center">
                    <img src="{% static 'main/img/index/panda.jpg' %}" alt="image" class="img-responsive">
                    <a href="#">
                        <div class="tm-green-gradient-bg tm-city-price-container">
                            <span>Restaruant</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="tm-home-box-1 tm-home-box-1-2 tm-home-box-1-right">
                    <img src="{% static 'main/img/index/post.jpg' %}" alt="image" class="img-responsive">
                    <a href="#">
                        <div class="tm-red-gradient-bg tm-city-price-container">
                            <span>posts</span>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="tm-home-box-1 tm-home-box-1-2 tm-home-box-1-center">
                    <img src="{% static 'main/img/index/ad.svg' %}" alt="image" class="img-responsive">
                    <a href="#">
                        <div class="tm-green-gradient-bg tm-city-price-container">
                            <span class="text-center">advertisement</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </section>

    <section class="tm-white-bg section-padding-bottom">
        <div class="container">
            <div class="row">
                <div class="tm-section-header section-margin-top">
                    <div class="col-lg-4 col-md-3 col-sm-3">
                        <hr>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <h2 class="tm-section-title">Popular Posts</h2>
                    </div>
                    <div class="col-lg-4 col-md-3 col-sm-3">
                        <hr>
                    </div>
                </div>
                {% for post in posts %}
                {% if post.post_type != 'Advertise' %}
                <!-- <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="{% get_media_prefix %}{{post.thumbnail}}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">{{post.description}}</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
                </div> -->
                <div class="col-md-6">
                    <div class="tm-home-box-3">
                        <div class="tm-home-box-3-img-container">
                            <img src="{% get_media_prefix %}{{post.thumbnail}}" alt="image" class="img-responsive" width="250px" hight="350px" >
                        </div>
                        <div class="tm-home-box-3-info">
                            <p class="tm-home-box-3-description"> {{post.description}} </p>
                            <p class="tm-date">{{post.created}}</p>
                            <div class="tm-home-box-2-container">
                                <a href="#" class="tm-home-box-2-link"><i class="fa fa-heart tm-home-box-2-icon border-right"></i></a>
                                <a href="#" class="tm-home-box-2-link"><span class="tm-home-box-2-description box-3">See More</span></a>
                                <a href="#" class="tm-home-box-2-link"><i class="fa fa-edit tm-home-box-2-icon border-left"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
             {% endfor %}
                
            </div>

            

            <div class="section-margin-top">
                <div class="row">
                    <div class="tm-section-header">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <hr>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <h2 class="tm-section-title">Advertisement</h2>
                        </div>
                        
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <hr>
                        </div>
                    </div>
                </div>
                {% for post in posts  %}
                {% if post.post_type == 'Advertise' %}
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-xxs-12">
                        <div class="tm-home-box-2">
                            <img src="{% get_media_prefix %}{{post.thumbnail}}" alt="image" class="img-responsive">
                            <h3>{{post.description}}</h3>
                            <p class="tm-date">{{post.created}}</p>
                            <div class="tm-home-box-2-container">
                                <a href="#" class="tm-home-box-2-link"><i class="fa fa-heart tm-home-box-2-icon border-right"></i></a>
                                <a href="#" class="tm-home-box-2-link"><span class="tm-home-box-2-description">Travel</span></a>
                                <a href="#" class="tm-home-box-2-link"><i class="fa fa-edit tm-home-box-2-icon border-left"></i></a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                    
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <p class="home-description">Holiday is free Bootstrap v3.3.5 responsive template for tour and travel websites. You can download and use this layout for any purpose. You do not need to provide a credit link to us. If you have any question, feel free to
                            <a href="http://www.facebook.com/templatemo" target="_parent">contact us</a>. Credit goes to <a rel="nofollow" href="http://unsplash.com" target="_parent">Unspash</a> for images used in this template.</p>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <footer class="tm-black-bg">
        <div class="container">
            <div class="row">
                <p class="tm-copyright-text mr-2">Copyright &copy; 2020 &nbsp All rights reserved by &reg; <a href="{% url 'home' %}"> FoodishD</a>
                </p>
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="{% static 'main/js/index/jquery-1.11.2.min.js' %}"></script>
    <!-- jQuery -->
    <script type="text/javascript" src="{% static 'main/js/index/moment.js' %}"></script>
    <!-- moment.js -->
    <script type="text/javascript" src="{% static 'main/js/index/bootstrap.min.js' %}"></script>
    <!-- bootstrap js -->
    <script type="text/javascript" src="{% static 'main/js/index/bootstrap-datetimepicker.min.js' %}"></script>
    <!-- bootstrap date time picker js, http://eonasdan.github.io/bootstrap-datetimepicker/ -->
    <script type="text/javascript" src="{% static 'main/js/index/jquery.flexslider-min.js' %}"></script>
    <!--
	<script src="js/froogaloop.js"></script>
	<script src="js/jquery.fitvid.js"></script>
-->
    <script type="text/javascript" src="{% static 'main/js/index/templatemo-script.js' %}"></script>
    <!-- Templatemo Script -->
    <script>
        // HTML document is loaded. DOM is ready.
        $(function() {

            $('#hotelCarTabs a').click(function(e) {
                e.preventDefault()
                $(this).tab('show')
            })

            $('.date').datetimepicker({
                format: 'MM/DD/YYYY'
            });
            $('.date-time').datetimepicker();

            $('a[href*=#]:not([href=#])').click(function() {
                if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                    if (target.length) {
                        $('html,body').animate({
                            scrollTop: target.offset().top
                        }, 1000);
                        return false;
                    }
                }
            });
        });

        // Load Flexslider when everything is loaded.
        $(window).load(function() {
            //	For images only
            $('.flexslider').flexslider({
                controlNav: false
            });


        });
    </script>
</body>

</html>